.bgImg{
    min-width: 100%;
}

.mainContentPayPal{
    background: url('../assets/paypal_form/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mainContent{
    background: #0A1C54;
}

.formContent{
    display: block;
    position: absolute;
    bottom: -8rem;
    left: 28rem;
}

.formContent2{
    display: block;
    padding-top: 2%;
    padding-left: 17%;
}

.paypalContent{
    border: 3px solid black;
    background-color: rgba(60,1,81,0.6);
    padding: 3%;
}

.imgPaypalLogo{
    width: 320px;
}

.mainForm{
    margin-top: 1rem;
}

.formLogin{
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 12px; 
    background-color: white;
}

.btnForm{
    cursor: pointer;
}

.paypalInput{
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
    font-size: large;
}

/*=============================================
MOVIL VERTICAL (revisamos en 320px)
=============================================*/

@media (max-width:575px){
    .formContent2{
        padding-left: 5%;
    }

    .imgPaypalLogo{
        width: 250px;
    }   
}